@import "reset.css";

*{
	font-size: 28px;
	font-family: Bell Gothic Std, Arial Std, sans-serif;
    font-style: normal;
}


.header{
	margin-left: 50px;
	display: block;
	line-height: 1;
}
.head{
	border-bottom: 8px solid #5E5E5E;
}

h1{
	font-family: Roboto Condensed, sans-serif;
	font-size: 48px; 
}

ul.top_menu{
	margin-left: 5%;
	display: flex;
	height: 80px;
	align-items: center;
}

li.top_menu{
	margin-right: 15%;
	font-family: Roboto Condensed, sans-serif;
}

li.top_menu:hover{
	border-bottom: 4.5px solid #F80012;
	transition: 0.25s;
}

nav.contain{
	align-items: center;
	height: 100px;
	display: flex;
}

a.logo{
	display: flex;
	color: #F80012;
	font-size: 38px;
	font-weight: bolder;
}

a.logo:hover{
	border-bottom: 6px solid #5E5E5E;
	transition: 0.3s;
}

div.logo{
	margin: 0 40px 0 30%;
}

div.info{
	display: block;
}

.title{
	margin-top: 50px;
	margin-left: 50px;
	font-size: 28px;
	font-family: Roboto Condensed;
}

a.title{
	border-bottom: 3px solid #5E5E5E;
}
a.title:hover{
	border-bottom: 3px solid #F80012;
	transition: 0.25s;
}

.subtitle{
	margin-left: 50px;
	color: white;
	background-color: #5E5E5E;
	line-height: 1;
	font-size: 52px;
	font-family: Roboto Condensed;
}

.subtitle_wrapper{
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 50px;
	background-color: #5E5E5E;
}

.card_collection{
	align-items: center;
	display: flex;
	margin-top: 50px;
	padding: 50px 70px;
}

.card{
	padding: 10px;
	background-color: #5E5E5E;
	margin-right: 40px;
	color: white;
	width: 340px;
	height: 160px;
	border-radius: 5px;
}

.card:hover{
	background-color: #F80012;
	transition: 0.4s;
}